*{
    color: blue;
    background-color: blueviolet;
    text-align: center;
    
}

img {
    max-width: 60%; 
}

@media screen and (min-width: 844px){
    img {
      max-width: 80%;
    }
  }

@media screen and (min-width: 480px){
    img {
      max-width: 80%;
    }
  }